<div>
    <div class="forgotmain">
    <div id="forgotdiv">  
    <h1>Reset Your Password</h1>  
    <div id="resetcard" variant="outlined">
    <mat-card>
     <div id="resetContent">
     <div id="resetPassword">
        <form class="reset-field" autocomplete="off" >
        <mat-form-field hideRequiredMarker appearance="outline" class="input-field">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="New Password" name="password" type="password" pattern="(?=.*[A-Z])(?=.*[0-9])(?=.*\W)[a-zA-Z0-9\#]{8,}"  [formControl]="password" required>
            <mat-error *ngIf="password.invalid">{{passwordErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field hideRequiredMarker appearance="outline" class="input-field">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm your password" name="password" required>
        </mat-form-field>

                   <div>
                     <Button id="resetbtn" >Reset Password</Button>
                  </div>
        </form>
    </div>
    </div> 
      
    </mat-card> 
    </div>     
   </div>
   
   </div>

