<div>
  <div class="forgot-container-wrapper">
    <div class="MainForget">
      <div class="forgot-header">
              <h1>Forgot Your Password?</h1>
      </div>

      <div class="forgot-container">
        <div class="forgot-email-form">
          <div class="paragraph">
            <p class="forgot-password-paragraph">
              Enter your email address and we'll send you a link to reset your password.
            </p>
          </div>

          <div class="forgot-textfield" autocomplete="off">
            <mat-form-field hideRequiredMarker appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" required>

           
            </mat-form-field>
            <button class="forgot-submit-button" (click)='submit()'>Reset Password</button>
        
           </div>
        </div>


      </div>

      <div className="create-account">
        <a  [routerLink]="['/userAuthentication']">CREATE ACCOUNT</a>

      </div>

  </div>
  <!-- <mat-icon >
    library_books
  </mat-icon> -->
 
</div>    

<app-footer></app-footer>